.login-form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}
.login-form label {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}
.login-form buttom {
    width: 100%;
    padding: 4px;
}

.gallery-item {
    list-style: none;
}
.gallery-image {
    width: 400px;
}

.widget {
    text-align: center;
}
.widget p {
    margin-bottom: 16px;
    font-size: 48px;
}
.widget button {
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
}